body{
    margin: 0px;
    background-image: url('one.webp');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Noto Sans',sans-serif;
    
}

.main{
    position: fixed;
    top: 160px;
    left: 650px;
    border: 2px  solid aqua;
    width: 340px;
    height: 400px;
    background-color: lightyellow;
}

.input_search{
    margin-top: 30px;
}

h1{
    font-size: 40px;
    font-style: initial;
}

.dynamic{
    margin-top: 40px;
    border: 2px solid #a62bc1;
}

input{
    background-color:#Fff0f5;
    color: #a62bc1;
    width: 220px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

button{
    background-color: #Fff0f5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    color: blue;
}